:root {
    scroll-behavior: smooth;
    --Darkest-Primary: #301040;
    --Primary-Dark: #4f1f66;
    --Primary: #682e84;
    --Primary-Hover: #532e66;
    --Primary-Light: #efc4ff;
    --Darkest-Gray: #3c3440;
    --Dark-Gray: #7c7680;
    --Gray: #ada4b1;
    --Pale-Gray: #e6e6e6;
    --Pure-White: #fff;
    --Primary-Font: "Catamaran", sans-serif;
    --Primary-Regular: 400;
    --Primary-Medium: 500;
    --Primary-Semi-bold: 600;
    --Primary-Bold: 700;
    --Secundary-Font: "Open Sans", sans-serif
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box
}

html {
    font-size: 50%
}

@media (min-width:900px) {
    html {
        font-size: 62.5%
    }
}

body {
    width: 100%;
    font-size: 1.6rem;
    overflow-x: hidden
}

main {
    display: flex;
    justify-content: center
}

.main__wrapper {
    width: 83.8%
}

@keyframes background {
    0% {
        background-position: 0 50%
    }
    50% {
        background-position: 100% 50%
    }
    100% {
        background-position: 0 50%
    }
}

:root {
    scroll-behavior: smooth;
    --Darkest-Primary: #301040;
    --Primary-Dark: #4f1f66;
    --Primary: #682e84;
    --Primary-Hover: #532e66;
    --Primary-Light: #efc4ff;
    --Darkest-Gray: #3c3440;
    --Dark-Gray: #7c7680;
    --Gray: #ada4b1;
    --Pale-Gray: #e6e6e6;
    --Pure-White: #fff;
    --Primary-Font: "Catamaran", sans-serif;
    --Primary-Regular: 400;
    --Primary-Medium: 500;
    --Primary-Semi-bold: 600;
    --Primary-Bold: 700;
    --Secundary-Font: "Open Sans", sans-serif
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box
}

html {
    font-size: 50%
}

@media (min-width:900px) {
    html {
        font-size: 62.5%
    }
}

body {
    width: 100%;
    font-size: 1.6rem;
    overflow-x: hidden
}

main {
    display: flex;
    justify-content: center
}

.main__wrapper {
    width: 83.8%
}

@keyframes background {
    0% {
        background-position: 0 50%
    }
    50% {
        background-position: 100% 50%
    }
    100% {
        background-position: 0 50%
    }
}

.hero {
    animation: background 10s ease-in infinite;
    background: linear-gradient(179.6deg, #682e84 14.97%, #3f204f 89.13%) no-repeat;
    background-size: 300% 300%;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    position: relative;
    overflow-x: hidden
}

@media (min-width:1240px) {
    .hero {
        flex-direction: row;
        justify-content: center;
        height: 100vh
    }
}

.hero .hero__wrapper {
    width: 87.2%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center
}

@media (min-width:1240px) {
    .hero .hero__wrapper {
        max-width: 1200px
    }
}

.hero .hero__wrapper header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 3.2rem;
    width: 100%
}

.hero .hero__wrapper header .menu {
    display: flex;
    justify-content: flex-end;
    gap: 5.6rem;
    width: 100%;
    background: linear-gradient(116.85deg, rgba(255, 255, 255, .4) -44.49%, rgba(255, 255, 255, .1) 117.81%);
    -webkit-backdrop-filter: blur(40px);
    backdrop-filter: blur(40px);
    border-left: 4px solid transparent;
    -o-border-image: linear-gradient(116.85deg, rgba(255, 255, 255, .3) -44.49%, rgba(255, 255, 255, .3) 117.81%);
    border-image: linear-gradient(116.85deg, rgba(255, 255, 255, .3) -44.49%, rgba(255, 255, 255, .3) 117.81%);
    position: absolute;
    right: 0;
    top: 0;
    height: 100vh;
    transform: translate(110%);
    visibility: hidden;
    transition: transform 500ms ease
}

@media (min-width:1070px) {
    .hero .hero__wrapper header .menu {
        height: -moz-fit-content;
        height: fit-content;
        background: none;
        border: none;
        -webkit-backdrop-filter: none;
        backdrop-filter: none;
        position: static;
        justify-content: flex-end;
        width: 70%
    }
}

.hero .hero__wrapper header .menu .menu__wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 5.6rem;
    width: 100%
}

@media (min-width:1070px) {
    .hero .hero__wrapper header .menu .menu__wrapper {
        flex-direction: row;
        justify-content: space-between
    }
}

.hero .hero__wrapper header .menu .menu__wrapper .menu__links {
    display: flex;
    justify-content: center
}

.hero .hero__wrapper header .menu .menu__wrapper .menu__links .menu__list__items {
    font-size: 2.4rem;
    font-weight: var(--Primary-Semi-bold);
    cursor: pointer;
    display: flex;
    align-items: center;
    list-style-type: none;
    display: flex;
    gap: 5.6rem;
    flex-direction: column
}

@media (min-width:1070px) {
    .hero .hero__wrapper header .menu .menu__wrapper .menu__links .menu__list__items {
        flex-direction: row;
        font-size: 1.6rem
    }
}

.hero .hero__wrapper header .menu .menu__wrapper .menu__links .menu__list__items a {
    color: var(--Pure-White);
    font-family: var(--Primary-Font);
    font-weight: var(--Primary-Medium);
    text-decoration: none
}

.hero .hero__wrapper header .menu .menu__wrapper .menu__links .menu__list__items a:hover {
    transition: border 80ms ease-in-out;
    border-bottom: 3px solid var(--Primary-Light);
    border-bottom-left-radius: 2px;
    border-bottom-right-radius: 2px
}

.hero .hero__wrapper header .menu .menu__wrapper .menu__cta {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap: 5.6rem;
    flex-direction: column
}

@media (min-width:1070px) {
    .hero .hero__wrapper header .menu .menu__wrapper .menu__cta {
        flex-direction: row
    }
}

.hero .hero__wrapper header .menu .menu__wrapper .menu__cta a {
    font-size: 2.4rem;
    cursor: pointer;
    color: var(--Pure-White);
    font-family: var(--Primary-Font)
}

.hero .hero__wrapper header .menu .menu__wrapper .menu__cta a:hover {
    transition: border 80ms ease-in-out;
    border-bottom: 3px solid var(--Primary-Light);
    border-bottom-left-radius: 2px;
    border-bottom-right-radius: 2px
}

@media (min-width:1070px) {
    .hero .hero__wrapper header .menu .menu__wrapper .menu__cta a {
        font-size: 1.6rem
    }
}

.hero .hero__wrapper header .menu .menu__wrapper .menu__cta .menu__button {
    cursor: pointer;
    background: none;
    font-family: var(--Primary-Font);
    font-weight: var(--Primary-Bold);
    color: var(--Primary-Light);
    padding: 1rem 3.2rem 1rem 3.2rem;
    text-transform: uppercase;
    border: 1px solid var(--Primary-Light);
    border-radius: 1.6rem;
    transition: background 500ms ease-in-out
}

.hero .hero__wrapper header .menu .menu__wrapper .menu__cta .menu__button:hover {
    transition: background 500ms ease-in-out;
    background-color: var(--Primary-Light);
    color: var(--Primary-Dark)
}

.hero .hero__wrapper header .menu__toggle {
    width: 36px;
    height: 36px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    z-index: 999;
    gap: 8px
}

@media (min-width:1070px) {
    .hero .hero__wrapper header .menu__toggle {
        display: none
    }
}

.hero .hero__wrapper header .menu__toggle .menu__toggle__first,
.hero .hero__wrapper header .menu__toggle .menu__toggle__secound,
.hero .hero__wrapper header .menu__toggle .menu__toggle__third {
    width: 100%;
    background-color: #fff;
    height: 4px;
    transition: transform 500ms linear
}

.hero .hero__wrapper header .menu__toggle .menu__toggle__secound {
    transition: 500ms opacity linear 100ms
}

.hero .hero__wrapper header .menu__toggle .toggle__one__active {
    transform: translate(0, 12.4px) rotate(45deg);
    transition: transform 500ms linear
}

.hero .hero__wrapper header .menu__toggle .toggle__two__active {
    transition: opacity 200ms linear;
    opacity: 0
}

.hero .hero__wrapper header .menu__toggle .toggle__three__active {
    transform: translate(0, -11.5px) rotate(-45deg);
    transition: transform 500ms linear
}

.hero .hero__wrapper .container {
    display: flex;
    flex-direction: column;
    margin-bottom: 72px;
    width: 100%
}

.hero .hero__wrapper .container .container__content {
    text-align: center;
    display: flex;
    flex-direction: column;
    margin-top: 15.3rem;
    justify-content: center;
    align-items: center;
    width: 100%
}

@media (min-width:1240px) {
    .hero .hero__wrapper .container .container__content {
        text-align: left;
        align-items: flex-start;
        width: 50%
    }
}

.hero .hero__wrapper .container .container__content .container__text__wrapper {
    display: flex;
    flex-direction: column;
    align-items: center
}

@media (min-width:1240px) {
    .hero .hero__wrapper .container .container__content .container__text__wrapper {
        align-items: flex-start
    }
}

.hero .hero__wrapper .container .container__content .container__text__wrapper .container__title {
    color: var(--Primary-Light);
    font-family: var(--Primary-Font);
    font-size: 5.2rem;
    font-weight: var(--Primary-Bold);
    text-align: center;
    line-height: 130%;
    animation: entrance 1.5s ease-in forwards;
    width: 102%
}

@media (min-width:1240px) {
    .hero .hero__wrapper .container .container__content .container__text__wrapper .container__title {
        width: 100%;
        text-align: left
    }
}

.hero .hero__wrapper .container .container__content .container__text__wrapper .container__paragraph {
    font-family: var(--Secundary-Font);
    color: var(--Pale-Gray);
    width: 100%;
    font-size: 1.6rem;
    line-height: 150%;
    margin-top: 3.2rem;
    animation: entrance 1.7s 100ms ease-in forwards
}

@media (min-width:1240px) {
    .hero .hero__wrapper .container .container__content .container__text__wrapper .container__paragraph {
        width: 95%
    }
}

.hero .hero__wrapper .container .container__content .container__divider {
    margin: 1.6rem 0 4rem 0;
    width: 100%;
    height: 4px;
    background-color: var(--Primary-Light);
    animation: entrance 1.7s 100ms ease-in forwards
}

@media (min-width:1240px) {
    .hero .hero__wrapper .container .container__content .container__divider {
        width: 95%
    }
}

.hero .hero__wrapper .container .container__content .container__cta {
    display: flex;
    align-items: center;
    gap: 3.2rem;
    animation: entrance 1.9s 200ms ease-in forwards
}

.hero .hero__wrapper .container .container__content .container__cta a {
    font-size: 1.6rem;
    cursor: pointer;
    color: var(--Pale-Gray);
    font-family: var(--Secundary-Font)
}

.hero .hero__wrapper .container .container__content .container__cta .container__button {
    cursor: pointer;
    color: var(--Primary-Dark);
    background-color: var(--Primary-Light);
    box-shadow: 0 4px 4px rgba(0, 0, 0, .25);
    font-family: var(--Primary-Font);
    font-weight: var(--Primary-Bold);
    padding: 1rem 3.2rem 1rem 3.2rem;
    text-transform: uppercase;
    border: none;
    border-radius: 1.6rem;
    transition: background 500ms ease-in-out
}

.hero .hero__wrapper .container .container__content .container__cta .container__button:hover {
    background-color: #b086bf;
    color: var(--Pale-Gray);
    transition: background 500ms ease-in-out
}

.hero .container__illustration {
    width: 100%;
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
    overflow: hidden
}

@media (min-width:1240px) {
    .hero .container__illustration {
        position: absolute;
        right: 0;
        bottom: 0;
        width: 50%;
        height: 87%
    }
}

.hero .container__illustration svg {
    width: 90%;
    height: 90%
}

@media (min-width:900px) {
    .hero .container__illustration svg {
        width: 85%;
        height: 85%
    }
}

@media (min-width:1240px) {
    .hero .container__illustration svg {
        width: -moz-fit-content;
        width: fit-content;
        transform: scale(1.1) translate(-5%, -2.5%)
    }
}

.about__us {
    margin-top: 27.5rem;
    display: flex;
    justify-content: space-around
}

.about__us .about__us__wrapper {
    max-width: 1168px;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    align-items: center;
    gap: 64px
}

@media (min-width:1240px) {
    .about__us .about__us__wrapper {
        flex-direction: row
    }
}

.about__us .about__us__wrapper .about__us__illustration {
    width: 100%
}

@media (min-width:600px) {
    .about__us .about__us__wrapper .about__us__illustration {
        width: 90%
    }
}

@media (min-width:900px) {
    .about__us .about__us__wrapper .about__us__illustration {
        width: 70%
    }
}

@media (min-width:1240px) {
    .about__us .about__us__wrapper .about__us__illustration {
        width: 60%
    }
}

@media (min-width:1440px) {
    .about__us .about__us__wrapper .about__us__illustration {
        width: 50%
    }
}

.about__us .about__us__wrapper .about__us__illustration svg {
    width: 100%;
    height: -moz-fit-content;
    height: fit-content
}

.about__us .about__us__wrapper .about__us__content__wrapper {
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center
}

@media (min-width:1240px) {
    .about__us .about__us__wrapper .about__us__content__wrapper {
        text-align: left;
        align-items: flex-start;
        width: 40%
    }
}

.about__us .about__us__wrapper .about__us__content__wrapper .about__us__title {
    color: var(--Primary);
    font-family: var(--Primary-Font);
    line-height: 130%;
    font-weight: var(--Primary-Semi-bold);
    font-size: 4rem;
    margin-bottom: 3.2rem
}

.about__us .about__us__wrapper .about__us__content__wrapper .about__us__paragraph {
    color: var(--Primary-Dark);
    font-family: var(--Secundary-Font);
    line-height: 150%;
    font-size: 1.6rem;
    margin-bottom: 4rem;
    width: 90%
}

.about__us .about__us__wrapper .about__us__content__wrapper .about__us__button {
    cursor: pointer;
    color: var(--Pure-White);
    background-color: var(--Primary);
    box-shadow: 0 4px 4px rgba(0, 0, 0, .25);
    font-family: var(--Primary-Font);
    font-weight: var(--Primary-Bold);
    padding: 1rem 3.2rem 1rem 3.2rem;
    text-transform: uppercase;
    border: none;
    border-radius: 1.6rem;
    transition: background 500ms ease-in-out
}

.about__us .about__us__wrapper .about__us__content__wrapper .about__us__button:hover {
    background-color: var(--Primary-Hover);
    transition: background 500ms ease-in-out
}

.steps {
    margin-top: 27.5rem
}

.steps .steps__title {
    color: var(--Primary);
    font-family: var(--Primary-Font);
    font-size: 4rem;
    font-weight: var(--Primary-Semi-bold);
    text-align: center;
    margin-bottom: 8.8rem
}

.steps .steps__cards {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(330px, 1fr));
    gap: 64px;
    gap: 5.6rem
}

.steps .steps__cards .first__step,
.steps .steps__cards .secound__step,
.steps .steps__cards .third__step {
    display: flex;
    flex-direction: column;
    align-items: center
}

.steps .steps__cards .first__step .first__step__card {
    background: url(../assets/cards/card-01.svg);
    display: flex;
    justify-content: center;
    align-items: center;
    width: 356.47px;
    height: 379px
}

.steps .steps__cards .first__step .first__step__card .first__step__wrapper {
    background-color: #fff;
    box-shadow: 0 4px 32px rgba(0, 0, 0, .2);
    width: 222px;
    height: 302px;
    border-radius: .8rem;
    padding: 18px 18px 24px 24px
}

.steps .steps__cards .first__step .first__step__card .first__step__wrapper .first__step__title {
    color: var(--Primary);
    font-family: var(--Primary-Font);
    font-size: 2rem;
    font-weight: var(--Primary-Bold);
    margin-bottom: 2rem
}

.steps .steps__cards .first__step .first__step__card .first__step__wrapper .first__step__subtitle {
    color: var(--Primary-Dark);
    font-family: var(--Primary-Font);
    font-size: 1.4rem;
    font-weight: var(--Primary-Semi-bold);
    margin-bottom: 1.2rem
}

.steps .steps__cards .secound__step .secound__step__card {
    background: url(../assets/cards/card-02.svg);
    display: flex;
    align-items: center;
    width: 344px;
    height: 358.5px
}

.steps .steps__cards .secound__step .secound__step__card .secound__step__wrapper {
    background-color: var(--Pure-White);
    box-shadow: 0 4px 32px rgba(0, 0, 0, .2);
    border-radius: 8px;
    display: flex;
    align-items: center;
    width: 364.5px;
    height: 129.9px;
    padding: 24px 32px 32px 24px
}

.steps .steps__cards .secound__step .secound__step__card .secound__step__wrapper .secound__step__checkmark {
    margin-right: 2rem;
    margin-bottom: 1.6rem
}

.steps .steps__cards .secound__step .secound__step__card .secound__step__wrapper .secound__step__text {
    margin-top: 1.6rem
}

.steps .steps__cards .secound__step .secound__step__card .secound__step__wrapper .secound__step__text .secound__step__title {
    color: var(--Primary);
    font-family: var(--Primary-Font);
    font-size: 2rem;
    font-weight: var(--Primary-Bold);
    margin-bottom: 1.6rem
}

.steps .steps__cards .secound__step .secound__description {
    margin-top: 3.6rem
}

.steps .steps__cards .third__step .third__step__card {
    background: url(../assets/cards/card-03.svg);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 379px;
    width: 346px
}

.steps .steps__cards .third__step .third__step__card .third__step__wrapper {
    background-color: var(--Pure-White);
    border-radius: 8px;
    box-shadow: 0 4px 32px rgba(0, 0, 0, .2);
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: 277px;
    width: 212.58px
}

.steps .steps__cards .third__step .third__step__card .third__step__wrapper .third__step__content .third__step__avatar {
    margin-bottom: 1rem
}

.steps .steps__cards .third__step .third__step__card .third__step__wrapper .third__step__content .third__step__title {
    color: var(--Primary);
    font-family: var(--Primary-Font);
    font-weight: var(--Primary-Bold);
    font-size: 2rem;
    margin-bottom: .4rem
}

.steps .steps__cards .third__step .third__step__card .third__step__wrapper .third__step__content .third__step__subtitle {
    font-size: 1.6rem;
    color: var(--Primary-Dark);
    margin-bottom: 1.6rem;
    font-family: var(--Secundary-Font)
}

.steps .steps__cards .description {
    margin-top: 1.6rem;
    width: 90%;
    text-align: center
}

.steps .steps__cards .description .description__title {
    color: var(--Primary);
    font-family: var(--Primary-Font);
    font-size: 2.4rem;
    font-weight: var(--Primary-Bold);
    line-height: 130%;
    margin-bottom: 1.6rem
}

.steps .steps__cards .description .description__paragraph {
    color: var(--Primary-Dark);
    font-family: var(--Secundary-Font);
    font-size: 1.6rem;
    line-height: 150%
}

.contact {
    margin-top: 27.5rem
}

.contact .contact__title {
    color: var(--Primary);
    font-family: var(--Primary-Font);
    font-weight: var(--Primary-Semi-bold);
    font-size: 4rem;
    text-align: center;
    margin-bottom: 8.8rem
}

.contact .contact__wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 64px
}

@media (min-width:1240px) {
    .contact .contact__wrapper {
        gap: 0;
        justify-content: space-evenly;
        flex-direction: row
    }
}

.contact .contact__wrapper .contact__illustration svg {
    width: 100%
}

.contact .contact__wrapper .contact__form {
    max-width: 100%;
    width: 56.8rem;
    display: flex;
    justify-content: flex-end
}

.contact .contact__wrapper .contact__form .contact__form__wrapper {
    width: 100%;
    display: flex;
    flex-direction: column
}

.contact .contact__wrapper .contact__form .contact__form__wrapper .contact__full__name {
    display: flex;
    gap: 3.2rem;
    margin-bottom: 2.4rem
}

.contact .contact__wrapper .contact__form .contact__form__wrapper .contact__full__name .contact__first__name,
.contact .contact__wrapper .contact__form .contact__form__wrapper .contact__full__name .contact__last__name {
    width: 50%
}

.contact .contact__wrapper .contact__form .contact__form__wrapper .contact__full__name input {
    padding: 12px;
    width: 100%
}

.contact .contact__wrapper .contact__form .contact__form__wrapper .contact__email input {
    width: 100%;
    padding: 12px;
    margin-bottom: 2.4rem
}

.contact .contact__wrapper .contact__form .contact__form__wrapper .contact__message textarea {
    font-family: var(--Secundary-Font);
    width: 100%;
    height: 17.5rem;
    padding: 12px;
    resize: none;
    border-radius: 8px;
    border: 1px solid rgba(82, 73, 87, .5);
    margin-bottom: 4rem
}

.contact .contact__wrapper .contact__form .contact__form__wrapper .contact__message textarea:focus {
    border: none;
    outline: 1px solid rgb(82, 73, 87)
}

.contact .contact__wrapper .contact__form .contact__form__wrapper .contact__button__wrapper {
    justify-content: center;
    display: flex
}

.contact .contact__wrapper .contact__form .contact__form__wrapper .contact__button__wrapper .contact__button {
    cursor: pointer;
    color: var(--Pure-White);
    background-color: var(--Primary);
    box-shadow: 0 4px 4px rgba(0, 0, 0, .25);
    font-family: var(--Primary-Font);
    font-weight: var(--Primary-Bold);
    padding: 1rem 3.2rem 1rem 3.2rem;
    text-transform: uppercase;
    border: none;
    border-radius: 16px;
    transition: background 500ms ease-in-out
}

.contact .contact__wrapper .contact__form .contact__form__wrapper .contact__button__wrapper .contact__button:hover {
    background-color: var(--Primary-Hover);
    transition: background 500ms ease-in-out
}

.contact .contact__wrapper .contact__form label {
    font-size: 1.6rem;
    color: var(--Primary);
    font-family: var(--Primary-Font);
    font-weight: var(--Primary-Semi-bold);
    display: block;
    margin-bottom: .4rem
}

.contact .contact__wrapper .contact__form input {
    font-family: var(--Secundary-Font);
    border-radius: 8px;
    border: 1px solid rgba(82, 73, 87, .5)
}

.contact .contact__wrapper .contact__form input:focus {
    border: none;
    outline: 1px solid rgb(82, 73, 87)
}

.footer {
    color: var(--Pure-White);
    animation: background 10s linear infinite;
    background: linear-gradient(179.6deg, #682e84 14.97%, #3f204f 89.13%) no-repeat;
    background-size: 300% 300%;
    height: 100%;
    margin-top: 27.5rem
}

.footer .footer__wrapper {
    display: flex;
    justify-content: center
}

.footer .footer__wrapper .footer__wrapper__content {
    width: 83.8%;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    margin-top: 7.8rem;
    align-items: center;
    gap: 64px
}

@media (min-width:900px) {
    .footer .footer__wrapper .footer__wrapper__content {
        gap: 0;
        align-items: flex-start;
        flex-direction: row
    }
}

.footer .footer__wrapper .footer__wrapper__content .footer__contact {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 3.2rem
}

@media (min-width:900px) {
    .footer .footer__wrapper .footer__wrapper__content .footer__contact {
        align-items: flex-start
    }
}

.footer .footer__wrapper .footer__wrapper__content .footer__contact .footer__social__links {
    cursor: pointer;
    display: flex;
    gap: 1.6rem
}

.footer .footer__wrapper .footer__wrapper__content .footer__contact .footer__social__links svg path {
    fill: var(--Pure-White)
}

.footer .footer__wrapper .footer__wrapper__content .footer__contact .footer__social__links svg rect {
    stroke: var(--Pure-White)
}

.footer .footer__wrapper .footer__wrapper__content .footer__contact .footer__social__links svg:hover path {
    fill: var(--Primary-Light)
}

.footer .footer__wrapper .footer__wrapper__content .footer__contact .footer__social__links svg:hover rect {
    stroke: var(--Primary-Light)
}

.footer .footer__wrapper .footer__wrapper__content .footer__easy__links .footer__menu {
    display: flex;
    flex-direction: column;
    gap: .8rem;
    list-style-type: none
}

.footer .footer__wrapper .footer__wrapper__content .footer__easy__links .footer__menu .title {
    font-family: var(--Primary-Font);
    color: var(--Pure-White);
    font-weight: var(--Primary-Bold);
    margin-bottom: .4rem
}

.footer .footer__wrapper .footer__wrapper__content .footer__easy__links .footer__menu .footer__menu__item a {
    cursor: pointer;
    color: var(--Pale-Gray);
    font-family: var(--Primary-Font);
    font-weight: var(--Primary-Regular);
    font-size: 1.6rem;
    text-decoration: none
}

.footer .footer__wrapper .footer__wrapper__content .footer__easy__links .footer__menu .footer__menu__item a:hover {
    transition: border 80ms ease-in-out;
    border-bottom: 3px solid var(--Primary-Light);
    border-bottom-left-radius: 2px;
    border-bottom-right-radius: 2px
}

.footer .footer__wrapper .footer__wrapper__content .footer__newsletter {
    width: 100%;
    display: flex;
    flex-direction: column;
    font-family: var(--Primary-Font)
}

@media (min-width:900px) {
    .footer .footer__wrapper .footer__wrapper__content .footer__newsletter {
        width: 45%
    }
}

@media (min-width:1240px) {
    .footer .footer__wrapper .footer__wrapper__content .footer__newsletter {
        width: 40%
    }
}

.footer .footer__wrapper .footer__wrapper__content .footer__newsletter .footer__newsletter__title {
    margin-bottom: 2.4rem;
    font-size: 3.2rem;
    text-align: center
}

@media (min-width:900px) {
    .footer .footer__wrapper .footer__wrapper__content .footer__newsletter .footer__newsletter__title {
        text-align: left
    }
}

.footer .footer__wrapper .footer__wrapper__content .footer__newsletter .footer__newsletter__cta {
    width: 100%;
    height: -moz-fit-content;
    height: fit-content;
    display: flex;
    justify-content: center
}

@media (min-width:900px) {
    .footer .footer__wrapper .footer__wrapper__content .footer__newsletter .footer__newsletter__cta {
        justify-content: flex-start
    }
}

.footer .footer__wrapper .footer__wrapper__content .footer__newsletter .footer__newsletter__cta .footer__newsletter__button {
    cursor: pointer;
    font-family: var(--Primary-Font);
    font-weight: var(--Primary-Bold);
    color: var(--Darkest-Primary);
    background-color: var(--Primary-Light);
    border-top-right-radius: 8px;
    border-bottom-right-radius: 8px;
    padding: 13px 36px 12px 36px;
    border: 1px solid rgba(82, 73, 87, .5);
    border-left: none
}

.footer .footer__wrapper .footer__wrapper__content .footer__newsletter input {
    padding: 16px;
    width: 60%;
    max-width: 100%;
    border-top-left-radius: 8px;
    border-bottom-left-radius: 8px;
    border: 1px solid rgba(82, 73, 87, .5);
    border-right: none
}

.footer .footer__copyright {
    font-family: var(--Primary-Font);
    text-align: center;
    padding: 40px 0 32px 0
}

.footer .footer__copyright .footer__line {
    background-color: var(--Gray);
    height: 1px;
    margin-bottom: 3.2rem;
    width: 100%
}

.footer .footer__copyright .footer__copyright p {
    font-size: 1.6rem
}

.modal-overlay {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, .5);
    z-index: 998
}

.contact__modal {
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 1.6rem;
    position: fixed;
    z-index: 999;
    top: 0;
    top: 50%;
    transform: translateY(-50%);
    opacity: 0;
    visibility: hidden;
    transition: opacity 450ms ease, visibility 450ms ease;
    background-color: var(--Pure-White);
    padding: 4.4rem 3.2rem;
    width: 90vw;
    box-shadow: 0 4px 4px rgba(0, 0, 0, .25);
    text-align: center;
    font-family: var(--Primary-Font)
}

@media (min-width:600px) {
    .contact__modal {
        align-items: flex-start;
        width: 80vw;
        padding: 6.4rem 5.6rem;
        text-align: start
    }
}

@media (min-width:900px) {
    .contact__modal {
        width: 55vw;
        padding: 5.6rem 5.6rem;
        text-align: start
    }
}

.contact__modal .contact__modal__title {
    font-size: 3.2rem;
    color: var(--Darkest-Primary);
    line-height: 120%
}

@media (min-width:1240px) {
    .contact__modal .contact__modal__title {
        width: 80%;
        font-size: 4.4rem
    }
}

.contact__modal .contact__modal__text {
    color: var(--Primary-Dark);
    margin: 2.4rem 0 4.4rem 0;
    font-size: 1.6rem;
    width: 100%
}

@media (min-width:500px) {
    .contact__modal .contact__modal__text {
        width: 95%
    }
}

@media (min-width:600px) {
    .contact__modal .contact__modal__text {
        width: 85%
    }
}

@media (min-width:700px) {
    .contact__modal .contact__modal__text {
        width: 80%
    }
}

@media (min-width:900px) {
    .contact__modal .contact__modal__text {
        width: 80%
    }
}

.contact__modal a {
    width: 100%
}

.contact__modal button {
    font-family: var(--Primary-Font);
    text-transform: uppercase;
    padding: 10px 24px;
    background-color: var(--Primary);
    border: none;
    cursor: pointer;
    color: var(--Pure-White);
    box-shadow: 0 4px 4px rgba(0, 0, 0, .25);
    border-radius: 1.6rem;
    text-align: center;
    width: 100%
}

@media (min-width:600px) {
    .contact__modal button {
        width: -moz-fit-content;
        width: fit-content
    }
}